<html>
  <head>
    <title>Publication Reporter</title>
    <script src="/static/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css">
    <script src="/static/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <style>
    .panel-heading
    {
      display: block;
      padding: 10px;
    }
    .pubmed_title,.pubmed_link
    {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .pubmed_title:hover
    {
      white-space: normal;
    }
    .dropdown-menu>li
    {
      padding: 3px 20px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      white-space: nowrap;
    }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row page-header">
        <div class="col-sm-12">
          <h1>Publication Reporter</h1>
          <p>This project isn't ready yet</p>
          <p><a href='/all_publications.csv'>Download all the publications</a></p>
        </div>
      </div>
      <div class="row" id="publication-data">
        <div class="col-sm-12">
          <div class="modal fade" id="trashModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4>Are you sure that you want to delete <span id="trash_pubmed_id">UNKNOWN</span>?</h4>
                </div>
                <div class="modal-body">
                  <p>Deleting this publication will automatically mark that none of the authors are affiliated with your institution and move the publication to the 'trash'</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal" id="trash_confirm">Delete</button>
                </div>
              </div>
            </div>
          </div>
        {% for pubmed_id, publication in publications.items() %}
          {% if publication.has_affiliated_authors() and publication.confirmation_status != 'denied' %}
          <div class="panel panel-info" id="pubmed_id_{{ pubmed_id }}">
            {% include "publication.html" %}
          </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
    <script>
      $( "#publication-data" ).on('click', ".dropdown-menu>li>a", function(event) {
        event.preventDefault();
        var author_string = encodeURIComponent($(this).data('author_string'));
        var pubmed_id = $(this).data('pubmed_id');
        var author_id = $(this).data('author_id');
        var confirmation_status = $(this).data('status');
        var URL = "/publication/" + pubmed_id + "/" + author_string + "/";
        var data = {};
        data[author_id] = confirmation_status;
        $.ajax({
          url: URL,
          type: 'PUT',
          data: JSON.stringify(data),
          contentType: 'application/json',
          success: function(result) {
            $( "#pubmed_id_" + pubmed_id ).html(result);
          }
        });
      });
      $( "#trashModal" ).on('show.bs.modal', function(event) {
        var link = $(event.relatedTarget);
        var pubmed_id = link.data("pubmed_id");
        var pubmed_url = "http://www.ncbi.nlm.nih.gov/pubmed/" + pubmed_id;
        $("#trash_pubmed_id").html('<a href="' + pubmed_url + '">' + pubmed_id + '</a>');
        $("#trash_confirm").data('pubmed_id', pubmed_id);
      });
      $( "#trashModal" ).on('click', '#trash_confirm', function(event) {
        var pubmed_id = $(this).data('pubmed_id');
        var URL = "/publication/" + pubmed_id + "/";
        $.ajax({
          url: URL,
          type: 'DELETE',
          success: function(result) {
            $( "#pubmed_id_" + pubmed_id ).remove();
          }
        });
      });
    </script>
  </body>
</html>
