{%- macro makeTrashLink(isTrash, pubmed_id) -%}
  {%- if isTrash -%}
<a class="trashLink" href="#" data-toggle="modal" data-target="#trashModal" data-pubmed_id="{{pubmed_id}}" data-tooltip="tooltip" data-placement="top" title="Already in trash, confirm an author to restore"><span class="glyphicon glyphicon-trash"></span></a>
  {%- else -%}
<a class="trashLink" href="#" data-toggle="modal" data-target="#trashModal" data-pubmed_id="{{pubmed_id}}" data-tooltip="tooltip" data-placement="top" title="Move to trash"><span class="glyphicon glyphicon-trash"></span></a>
  {%- endif -%}
{%- endmacro -%}
{% set trashLink=makeTrashLink(isTrash, pubmed_id) %}

            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-2 pubmed_link"><a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ pubmed_id }}">{{ pubmed_id }}</a></div>
                <div class="col-xs-9 pubmed_title"> {{ publication['TI'] }}</div>
		<div class="col-xs-1 text-center">{{ trashLink }}</div>
              </div>
            </div>
            <div class="panel-body">
              {% for author_string in publication['AU'] %}
              <div class="btn-group">
                {% if publication._get_confirmed_author(author_string) %}
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">{{ publication._get_confirmed_author(author_string).user.full_name() }} <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>Who is '{{ author_string }}'?</li>
                  {% for author in publication.affiliated_authors.get(author_string, []) %}
		  <li><a href="#" data-pubmed_id="{{pubmed_id}}" data-author_id="{{ author.user_id }}" data-status="confirmed" data-author_string="{{author_string}}">{{ author.user.full_name() }}</a></li>
                  {% endfor %}
		  <li><a href="#" data-pubmed_id="{{pubmed_id}}" data-author_id="all" data-status="denied" data-author_string="{{author_string}}">None of the above</a></li>
                </ul>
                {% elif publication._get_possible_authors(author_string)|length > 0 %}
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">{{ publication._get_possible_authors(author_string)[0].user.full_name() }} <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>Who is '{{ author_string }}'?</li>
                  {% for author in publication.affiliated_authors.get(author_string, []) %}
		  <li><a href="#" data-pubmed_id="{{pubmed_id}}" data-author_id="{{ author.user_id }}" data-status="confirmed" data-author_string="{{author_string}}">{{ author.user.full_name() }}</a></li>
                  {% endfor %}
		  <li><a href="#" data-pubmed_id="{{pubmed_id}}" data-author_id="all" data-status="denied" data-author_string="{{author_string}}">None of the above</a></li>
                </ul>
                {% elif publication.affiliated_authors.get(author_string, [])|length > 0 %}
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ author_string }} <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>Who is '{{ author_string }}'?</li>
                  {% for author in publication.affiliated_authors.get(author_string, []) %}
		  <li><a href="#" data-pubmed_id="{{pubmed_id}}" data-author_id="{{ author.user_id }}" data-status="confirmed" data-author_string="{{author_string}}">{{ author.user.full_name() }}</a></li>
                  {% endfor %}
		  <li><a href="#" data-pubmed_id="{{pubmed_id}}" data-author_id="all" data-status="denied" data-author_string="{{author_string}}">None of the above</a></li>
                </ul>
                {% else %}
                <button type="button" class="btn btn-default">{{author_string}}</button>
                {% endif %}
              </div>
              {% endfor %}
            </div>
